/*
=================================================

G R I D

=================================================
*/

*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

.container,
.grid {
    margin: 0 auto;
    width: 960px
}
.container {
    margin: 0 auto;
    width: 960px
}

.col-1-3 {
    width: 33.33%;
}

.col-2-3 {
    width: 66.66%;
}

.col-1-3,
.col-2-3 {
    display: inline-block;
    vertical-align: top;
}

.grid,
.col-1-3,
.col-2-3 {
    padding-left: 15px;
    padding-right: 15px;
}


/* 
================================================

C L E A R F I X

================================================

*/

.group:before,
.group:after {
    content: "";
    display: table;
}

.group:after {
    clear: both;
}

.group {
    clear: both;
    zoom: 1;
}

/* 
=================================================

T Y P O G R A P H Y

=================================================
*/

h1, h3, h4, h5, p {
    margin-bottom: 22px;
}

/* 
=================================================

B U T T O N S

=================================================
*/

.btn {
    border-radius: 5px;
    display: inline-block;
    margin: 0;
}

.btn-alt {
    border: 1px solid #dfe2e5;
    padding:10px 30px;
}

/* 
===============================================

P R I M A R Y   H E A D E R

===============================================
*/

.logo{
    border-top: 4px solid #648880;
    padding: 40px 0 22px 0;
    float: left;
}

/* 
===============================================

P R I M A R Y   F O O T E R

===============================================
*/

.primary-footer small{
    float: left;
}

.primary-footer {
    padding-top: 44px;
    padding-bottom: 44px;
}


/* 
================================================

H O M E

================================================
*/

.hero {
    padding: 22px 80px 66px 80px;
}