/*
=================================================

G R I D

=================================================
*/

*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

.container {
    margin: 0 auto;
    padding-left: 30px;
    padding-right: 30px;
    width: 960px
}

/* 
=================================================

T Y P O G R A P H Y

=================================================
*/

h1, h3, h4, h5, p {
    margin-bottom: 22px;
}

/* 
=================================================

B U T T O N S

=================================================
*/

.btn {
    border-radius: 5px;
    display: inline-block;
    margin: 0;
}

.btn-alt {
    border: 1px solid #dfe2e5;
    padding:10px 30px;
}

/* 
================================================

H O M E

================================================
*/

.hero {
    padding: 22px 80px 66px 80px;
}